      *{
          margin:0rem;
          padding:0rem;
          user-select:none;
          box-sizing:border-box;
      }
      
      img{width:100%;height:100%}
      a{text-decoration:none}
      
      body{background:#1A1A1A;margin:0rem;}
      
      header{
          width:100%;
          height:80vh;
          background:rgb(154,236,171);
      }
      
      section.dashboard-header-page-title{
          width:100%;
          height:3.5rem;
          background:#1A1A1A;
          padding:0rem 0.5rem 0 0.5rem;
          display:flex;
          align-items:center;
          justify-content:space-between;
          border-bottom:0.1rem solid black;
      }
     
      
      div#website-logo{
          width:3rem;
          height:3rem;
          background:none;
          border-radius:0.5rem;
          border:0.1rem solid white;
      }
      
      img#website-logo{border-radius:0.3rem}
      
      div#website-page-name{
          width:auto;
          height:100%;
          display:grid;
          place-items:center;
      }
      
      p#website-page-name{
          font-weight:bold;
          color:white;
      }
      
      section.dashboard-header-important-details{
          width:100%;
          height:100%;
          background:none;
          padding:0.5rem 0.5rem 0.5rem 0.5rem;
      }
      
      section#dashboard-navigation-section{
          width:100%;
          height:10%;
          background:none;
          display:flex;
          justify-content:space-between;
      }
      
      div.dashboard-navigation{
          width:3rem;
          height:3rem;
          background:none;
          padding:0.3rem;
      }
      
      section.right-side-navigation-button{
          width:50%;
          height:100%;
          background:none;
          display:flex;
          justify-content:flex-end;
      }
      
      
      div#user-profile{margin-left:1rem}
      
      
      div.dashboard-welcoming{
          width:100%;
          height:17%;
          background:none;
          padding-top:2rem;
      }
      
      p#welcoming{
          font-size:2rem;
          font-weight:bold;
      }
      
      p#todays-date{
          font-size:0.9rem;
          font-weight:bold;
      }
      
      section.daily-quotes-list{
          width:100%;
          height:15rem;
          background:none;
          display:flex;
          align-items:center;
          overflow:scroll;
          border-bottom:0.5rem solid black;
      }
      
      div#daily-quote-container{
          min-width:13rem;
          height:13rem;
          background:#1A1A1A;
          margin-right:3rem;
      }
      
      div.header-section-title{
          width:100%;
          height:10%;
          background:none;
          display:flex;
          align-items:center;
      }
      
      p#header-section-title{
          font-weight:bold;
          font-size:1.5rem;
      }
      
      section.website-navigation{
          width:100%;
          height:10%;
          background:none;
          display:flex;
          overflow:scroll;
      }
      
      section#category-page-section{
          min-width:30%;
          height:100%;
          background:none;
          margin:0 0.5rem 0 0.5rem;
      }
      
      div#category-link-container{
          display:grid;
          width:100%;
          height:80%;
          background:none;
          place-items:center;
      }
      
      p#active-category-page-name{
          font-weight:bold;
          font-size:1.2rem;
      }
      
      div#category-page-active{
          width:100%;
          height:20%;
          background:black;
          border-radius:3rem;
      }
      
      section#category-page-section:hover > div.wisdom-active-page{
          display:block;
          background:white;
      }
      
      section#category-page-section:hover > div.quotes-active-page{
          display:block;
          background:white;
      }
      
      section#category-page-section:hover > div.beware-active-page{
          display:block;
          background:white;
      }
      
      section#category-page-section:hover > div.news-active-page{
          display:block;
          background:white;
      }
      
      section#category-page-section:hover > div.side-hustles-active-page{
          display:block;
          background:white;
      }
      
      div.news-active-page{
          display:block;
      }
      
      div.quotes-active-page{
          display:none;
      }
      
      div.wisdom-active-page{
          display:none;
      }
      
      div.beware-active-page{
          display:none;
      }
      
      div.side-hustles-active-page{
          display:none;
      }
      
      main#client-side-main{
          width:100%;
          height:425rem;
          background:none;
          padding:3rem 1rem 1rem 1rem;
      }
      
      a.category-page{color:black}
      
      